
    *{
        margin: 0;padding: 0;border: none;
        }
        html, body {
          position: relative;
          /* height: 100%; */
        }
        body {
          background: #eee;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 14px;
          color:#000;
          margin: 0;
          padding: 0;
        }
        a{
          text-decoration: none;
          color: #222121;
          font-size: 16px;
        }
        a:hover{
            color: #f15e41;
        }
        .swiper-container {
          width: 100%;
          height: 180px;
    
        }
        .swiper-slide {
          text-align: center;
          font-size: 16px;
          background: #fff;
    
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
    
        /*ScrollNews*/
     .index_tet_slide{
        width:95%;
        padding: 0 2.5%;
        margin: 0 auto;
        height:80px;
        background: #fff;
        overflow: hidden;
    }
    .index_left{
        width:20%;
        float: left;
    }
    .index_left img{
        width:50px;
        height: 50px;
        margin: 15px;
    }
    .index_right{
        width: 73%;
        height: 50px;
        margin: 15px 0;
        padding-left: 2%;
        border-left: 2px solid #ccc;
        float: right;
        overflow: hidden;
    }
    .index_tet_slide li{
        padding-left: 4%;
        list-style: none;
        line-height: 25px;
        background: url(../images/dian.png) 0px 11px  no-repeat;
    }
     .index_tet_slide li span{
        margin-left:15px;
        font-size:14px;
    }
    .bdd{
        width:100%;
        height: 50px;
        overflow: hidden;
    }
        .swiper-slide img{
        width:100%;
        height:100%;
        overflow: hidden;
    }