
 @media screen and (max-width: 960px){
     .center{
         width: 750px;
     }
     .center li:nth-child(1){
        width: 80px;
    }
     .center ul{
         width: 730px;
         padding: 0 10px;
     }
     .center li{
         width: 108px;
         padding: 0;
     }
     .center li a{
        font-size: 14px;
     }
     .footer .footerInner{
         width: 760px;
     }
 }
 @media screen and (max-width: 1200px) and (min-width: 960px){
     .center{
         width: 950px;
     }
     .center ul{
         width:930px;
         padding: 0 10px;
     }
     .center li:nth-child(1){
        width: 83px;
    }
     .center li{
         width: 135px;
         padding: 0 ;
     }
     .center li a{
        font-size: 16px;
     }
     .footer .footerInner{
         width: 950px;  
     }
 }
 @media screen and (min-width:1921px){
    .footer{
        width: 100%;
        height: 130px;
        background: #d9d9d9;
        position: absolute;bottom:0;left: 0;
    }
}